lib
bin
*.db
*.db-shm
*.db-wal
*.dwarf
tmp
__pycache__
*.pyc
*.pid
*.log
*.tar.gz
*.deb
*.ddeb
*.diff.gz
*.dsc
*.build
*.buildinfo
*.changes
moana-*
kadalu-storage-*
kadalu-storage_*
build
glusterfs-*
glusterfs_*