[Unit]
Description=Kadalu Storage Manager Agent
After=network.target

[Service]
PIDFile=/var/run/kadalu/kadalu-agent.pid
ExecStart=/usr/sbin/kadalu mgr --agent --workdir=/var/lib/kadalu --logdir=/var/log/kadalu

[Install]
WantedBy=multi-user.target