Source: kadalu-storage
Section: admin
Priority: optional
Maintainer: Kadalu Software Private Limited <packaging@kadalu.tech>
Build-Depends: debhelper (>= 9),
 libfuse-dev,
 libibverbs-dev,
 libdb-dev,
 librdmacm-dev,
 libaio-dev,
 libacl1-dev,
 libsqlite3-dev,
 liburcu-dev,
 uuid-dev,
 liblvm2-dev,
 libattr1-dev,
 flex,
 bison,
 libreadline-dev,
 libncurses5-dev,
 libglib2.0-dev,
 libssl-dev,
 libxml2-dev,
 libgoogle-perftools-dev,
 pkg-config,
 autotools-dev,
 dh-python,
 python3-all-dev (>= 3.5.5-1~)
Standards-Version: 3.9.7
Homepage: http://www.kadalu.tech

Package: kadalu-storage
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
 dpkg (>= 1.15.6~)
Depends: ${misc:Depends},
 ${shlibs:Depends},
 ${python:Depends},
 lsb-base (>= 3.0-6),
 libacl1-dev,
 fuse,
 attr,
 psmisc,
 libgoogle-perftools-dev,
 python3-prettytable,
 python3-requests,
 python3-jwt, kadalu-storage-manager
Conflicts: libglusterfs0,
 libglusterfs-dev, glusterfs-common, glusterfs-server,
 glusterfs-client
Replaces: kadalu-storage
Description: Kadalu-Storage is an Opinionated distributed filesystem
  based on GlusterFS.

Package: kadalu-storage-dbg
Section: debug
Priority: extra
Architecture: any
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${shlibs:Depends},
 ${misc:Depends},
 kadalu-storage (= ${binary:Version})
Conflicts: glusterfs-dbg
Description: Kadalu-Storage debugging symbols
 This package includes the debugging symbols.
