[Unit]
Description=Kadalu Storage unit management %I
After=network.target

[Service]
PIDFile=/var/run/kadalu/%i.pid
ExecStart=/usr/sbin/kadalu-brick /var/lib/kadalu/%i.json

[Install]
WantedBy=multi-user.target